#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background-color: bisque;
}

.container {
  font-size: x-large;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #000;
  }
}


p {
  margin: 0;
}